body {
  margin: 0px;
  padding: 0px;
  background-color: #4949dd;
}

.whole-gameboardpage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.board-panel {
  flex: 0.7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-details {
  flex: 0.5;
}
.game-accessories {
  flex: 0.2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-leave-button {
  width: fit-content;
  height: fit-content;
  font-size: 23px;
  padding: 8px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  background-color: rgb(239, 32, 32);
  border: none;
  color: black;
}

.game-timer {
  width: fit-content;
  height: fit-content;
  background-color: yellowgreen;
  font-size: 23px;
  text-align: center;
  padding: 8px 10px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.player-details-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.player-details-section > .player-details {
  display: flex;
  align-items: center;
}

.player-details-section > .player-details > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.player-details-section > .player-details > p {
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: light;
}

.player-details-section > .loader-container {
  width: 60%;
  height: 10px;
  background-color: rgb(93, 231, 105);
}

.player-details-section > .loader-container > .loader {
  width: 0%;
  height: 100%;
  border-radius: 50px;
  background-color: rgb(93, 231, 105);
  transition: 0.5s;
}

/*______________ Game board style __________________*/

.board-container {
  width: 640px;
  height: 640px;
  border: 0px solid black;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  /* transform: rotate(180deg); */
}

.board-container > div {
  position: relative;
}

.board-container > div > .box {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 60px;
  /* transform: rotate(180deg); */
}

.board-container > div > .highlighted-circle {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: blue;
  top: 50%;
  left: 50%;
  border-radius: 40px;
  box-shadow: 0px 0px 40px 20px blue;
}

/* ____________ chat box ____________ */
.chat-panel {
  width: 100%;
  height: 100%;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-preview {
  flex: 0.8;
  overflow-y: scroll;
  padding: 30px;
}

.chat-preview > div {
  width: fit-content;
  max-width: 50%;

  padding: 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-message {
  margin-left: auto;
  background-color: #4949dd;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 40px 1px rgba(186, 185, 185, 0.71);
  color: white;
}

.opp-message {
  margin-right: auto;
  background-color: whitesmoke;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 0px 40px 1px rgba(186, 185, 185, 0.71);
  color: black;
}

.chat-box {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box > input {
  width: 60%;
  height: 40px;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: light;
  margin-right: 10px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 40px 1px rgba(186, 185, 185, 0.71);
  border-radius: 30px;
}

.chat-box > button {
  width: 100px;
  height: fit-content;
  padding: 5px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-radius: 30px;
  background-color: #4949dd;
  color: white;
}

/* For responsive design */

@media screen and (max-width: 1300px) {
  .board-container {
    width: 550px;
    height: 550px;
  }

  .board-container > div > .box {
    font-size: 50px;
  }

  .board-container > div > .highlighted-circle {
    box-shadow: 0px 0px 20px 15px blue;
  }

  .chat-box > input {
    width: 50%;
    font-size: 14;
  }

  .chat-box > button {
    width: 80px;
  }
}

@media screen and (max-width: 1014px) {
  .board-container {
    width: 480px;
    height: 480px;
  }

  .board-container > div > .box {
    font-size: 40px;
  }

  .board-panel {
    flex: 0.6;
    flex-direction: column;
    height: 100%;
  }

  .chat-panel {
    flex: 0.4;
  }

  .whole-gameboardpage-container {
    justify-content: space-between;
  }

  .game-accessories {
    flex: 0.2;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 850px) {
  .board-container {
    width: 400px;
    height: 400px;
  }

  .board-container > div > .box {
    font-size: 30px;
  }

  .board-container > div > .highlighted-circle {
    box-shadow: 0px 0px 20px 10px blue;
  }
}

@media screen and (max-width: 700px) {
  .board-panel {
    flex: 1;
  }
  .chat-panel {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .board-panel {
    justify-content: center;
  }

  .board-container {
    width: 350px;
    height: 350px;
  }

  .board-container > div > .box {
    font-size: 30px;
  }

  .player-details-section > .player-details > img {
    width: 35px;
    height: 35px;
  }

  .player-details-section > .player-details > p {
    font-size: 13px;
  }
}
